.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.content {
    text-align: center;
}

.text {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--color-text);
}

.progressContainer {
    width: 200px;
    height: 2px;
    background-color: rgba(228, 228, 228, 0.2);
    border-radius: 1px;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: var(--color-text);
    border-radius: 1px;
}